<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<link rel="icon" type="image/x-icon" href="/dist/img/favicon_32x32.ico" />
<link rel="shortcut icon"  type="image/x-icon" href="/dist/img/favicon_32x32.ico"/>

<title>流水</title>

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/plugins/bootstrap/css/ionicons.min.css"/>
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css"/>
<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css"/>
<link rel="stylesheet" href="/dist/css/style.css"/>
<link rel="stylesheet" href="/plugins/bootstrap/table/bootstrap-table.min.css"/>
<link rel="stylesheet" href="/plugins/toastr/toastr.min.css"  />
<link rel="stylesheet" href="/plugins/bootstrap/validator/css/bootstrapValidator.min.css" />
<link rel="stylesheet" href="/plugins/select2/select2.min.css"/>

<!--[if lt IE 9]>
  <script src="plugins/jQuery/html5shiv.min.js"></script>
  <script src="plugins/jQuery/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini layout-top-nav">
	<div class="wrapper">
		<header class="main-header" style="width: 100%">
			<nav class="navbar navbar-static-top" style="width: 100%">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<div class="container">
					<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/#" data-url='/pages/histroy/index.html' data-id='turnover_index' data-name='流水账'>流水账</a></li>
							<li ><a href="/#" data-url='/pages/dic/index.html' data-id='dic_index' data-name='字典' >字典</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<div class="content-wrapper " >
			<div class="tabContainer " id="mainDiv">
			
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="/plugins/jQuery/jquery.min.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/dist/js/app.min.js"></script>
	<script type="text/javascript" src="/dist/js/demo.js"></script>
	<script type="text/javascript" src="/plugins/jQuery/bootbox.min.js"></script>
	<script type="text/javascript" src="/plugins/jQuery/ajax.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap/table/bootstrap-table.min.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap/table/locale/bootstrap-table-zh-CN.min.js"></script>
	<script type="text/javascript" src="/plugins/toastr/toastr.min.js"></script>
	<script type="text/javascript" src="/pages/tools.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap/validator/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap/validator/js/language/zh_CN.js"></script>
	<script type="text/javascript" src="/plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="/plugins/select2/i18n/zh-CN.js"></script>
	<script type="text/javascript">
		var username = 'test';
		$("#navbar-collapse").find("ul li").bind("click",function(){
			var a = $(this).find("a");
			var url = a.data("url");
			pageLoad(url);
			$("#navbar-collapse").find("ul li.active").removeClass("active");
			$(this).addClass("active");
		});
		$("#navbar-collapse").find("ul li.active").click();
	</script>
</body>
</html>
